language: ruby
rvm:
- 2.3.1
before_install:
- curl -L https://www.getchef.com/chef/install.sh | sudo bash -s -- -P chefdk -v 1.0.3
- gem install bundler -v 1.11.2
install:
- chef exec bundle install --jobs=3 --retry=3
before_script: chef exec rake setup_test_environment
script: "./.travis_install.sh"
notifications:
  slack:
    secure: FECIJq2s1oCyRiuuQgisiWsKXx5g2WpFxfO3gPCDrzjHbLbdPBFZRd/O5oI/ugWK19hOcAFe2CuSrsE485mmXutL/mQiDehZ1S3++iIsAPYZdnWISEl4IiKJmGrRPqAE4maG8TiBMEV6gt3YPvteWhtmJxE4LEJoXS9r98zA3qA=
